@model System.Collections.Generic.ICollection<NewsApp.Models.Category?>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<p>
    <a asp-controller="News" asp-action="Index" class="btn btn-secondary">Manage News Articles</a>
    <a asp-action="Create" class="btn btn-primary">Create New Category</a>
</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.First().CategoryId)</th>
        <th>@Html.DisplayNameFor(model => model.First().Name)</th>
        <th>@Html.DisplayNameFor(model => model.First().Description)</th>
        <th>Number of News Items</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var category in Model)
    {
        <tr>
            <th>@Html.DisplayFor(model => category.CategoryId)</th>
            <td>@Html.DisplayFor(m => category.Name)</td>
            <td>@Html.DisplayFor(m => category.Description)</td>
            <td>@(category.NewsItems != null ? category.NewsItems.Count() : 0)</td>
            <td>
                <a asp-action="Details" asp-route-id="@category.CategoryId" class="btn btn-info btn-sm">Details</a>
                <a asp-action="Edit" asp-route-id="@category.CategoryId" class="btn btn-warning btn-sm">Edit</a>
                <a asp-action="Delete" asp-route-id="@category.CategoryId" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>